.loader {
   width: 100%; /* Width of the loader container */
   height: 10px; /* Height of the loader container */
   background-color: #f3f3f3; /* Background color of the loader */
   overflow: hidden; /* Hides the overflowed part of the animation */
   position: relative; /* Relative position for the inner loading bar */
 }
 
 .loading-bar {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: linear-gradient(90deg, #ffe816, #5dbb11, #030f2e,#ee1d4a); /* Gradient background */
  position: absolute;
  left: -100%; /* Start position (off-screen to the left) */
  animation: slide 2s infinite linear; /* Animation settings */
}
 
 @keyframes slide {
   0% {
     left: -100%; 
   }

   50% {
     left: 0%; 
   }
   50% {
     left: 0%; 
   }

   100% {
     left: 100%; 
   }
 }
 